.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.canvas-main-container {
  padding: 0;
}

.canvas-main-container .col-xs-12 {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: lightgray;
  display: block;
  height: 100vh;
  width: 100vw;
}
